<div class="form-horizontal" id="form-styling-override">
  <h1>Welcome back</h1>
    <%= form_for(@user, url: sessions_path) do |f| %>

      <div class="field" id="individual-form-elements-override">
        <%= f.label :email %>
        <%= f.text_field :email, { class: "form-control" } %>
      </div>

      <div class="field" id="individual-form-elements-override">
        <%= f.label :password %>
        <%= f.password_field :password, { class: "form-control" } %>
      </div>

      <div class="actions">
        <%= f.submit "Log in", { class: "form-submit-button-override btn btn-success" } %>
      </div></br>

    <% end %>
    <p>You should bookmark this page for faster access in the future</p>
</div>