<div class="center">

	<div class="page-header">
		<h4><%= @user.first_name %> <%= @user.last_name %><small> Honda of Canada</small></h4>
	</div>

	<div class="user-left-photo">	
		  <%= image_tag @user.avatar.url %>
	</div></br>

	<div class="action">
	  <%= link_to "New project", new_project_path, { class: "btn btn-success" } %>
	</div></br>

  <div class="action">
		<%= link_to "Log out", :logout, { class: "btn btn-primary" } %>
	</div></br>

</div>


