<div class="center">

	<div class="page-header">
		<h4><%= @user.first_name %> <%= @user.last_name %><small> Honda of Canada</small></h4>
	</div>

	<div class="user-left-photo">	
		  <%= image_tag @user.avatar.url %>
	</div></br>

	<div class="action">
	  <%= link_to "New project", new_user_project_path(@user), { class: "btn" } %>
	</div>

  <div class="action">
		<%= link_to 'Logout', :logout, { class: "btn" } %>
	</div>

</div>


