<div class="center">
	<div class="page-header center">
	<h4><%= @user.first_name %> <%= @user.last_name %></h4>
</div>

	<div class="action">
	  <%= link_to "New project", new_project_path, { class: "btn btn-small btn-success buttons-for-user-dashboard" } %>
	</div></br>

	<div class="action">
			<%= link_to "Teams", user_teams_path(current_user), { class: "btn btn-small btn-warning buttons-for-user-dashboard" } %>
			<%= link_to "+", new_user_team_path(current_user), { class: "btn btn-small btn-success" } %></br>
	</div></br>
  
  <div class="action">
		<%= link_to "Log out", logout_path, { class: "btn btn-small btn-danger buttons-for-user-dashboard" } %>
	</div></br>
</div>


