<div class="form-horizontal", id="form-styling-override">
  <h1>Sign Up</h1></br>
  <%= form_for @user  do |f|  %>
    <%= render 'layouts/error_messages' %>

    <div class="field" id="individual-form-elements-override">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, { class: "form-control" } %>
    </div>

    <div class="field" id="individual-form-elements-override">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, { class: "form-control" } %>
    </div>

    <div class="field" id="individual-form-elements-override">
      <%= f.label :email %>
      <%= f.text_field :email, { class: "form-control" } %>
    </div>

    <div class="field" id="individual-form-elements-override">
      <%= f.label :password %>   
      <%= f.password_field :password, { class: "form-control" } %>
    </div>

    <div class="field" id="individual-form-elements-override">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, { class: "form-control" } %>
    </div> 

    <div class="actions">
      <%= f.submit "Create Account", {  class: "form-submit-button-override btn btn-success" }  %>
    </div> 

    <%= hidden_field_tag 'token', @invite.token %>

  <% end %>
</div>
