<%= form_for [@user, @project] do |f| %>
<%= render 'layouts/error_messages' %>
  <div class="field"> 
	  <%= f.label :title, "Title: " %>
	  <%= f.text_field :title %>
	</div>
  <div class="field">	  
  	<%= f.label :objective, "Objective: " %>
	  <%= f.text_field :objective %>
	</div>
  <div class="date-field">			
  	<%= f.label :due_date, "Due Date: " %>
		<%= f.date_field :due_date %>
  </div></br>

	<div class="action">
		<%= f.submit "Get this project started", class: "btn btn-large btn-success" %>
	</div></br>
	
<% end %>

<div class="button">
	<%= link_to 'Cancel', user_path(@user),  class: "btn btn-large" %>
</div>