<div class="form-horizontal" id="form-styling-override">
	<div class="page-header">
		<h1>New Project <small>Create a new project before sharing it with your team</small></h1>
	</div>

	<%= form_for [@user, @project] do |f| %>
    <div class="field" id="individual-form-elements-override">
		  <%= f.label :title, "Title: " %>
		  <%= f.text_field :title, { class: "form-control" } %>
		</div></br>

    <div class="field" id="individual-form-elements-override">
	  	<%= f.label :objective, "Objective: " %>
		  <%= f.text_field :objective, { class: "form-control" } %>
		</div></br>

    <div class="field" id="individual-form-elements-override">
	  	<%= f.label :due_date %>
			<%= f.date_field :due_date, { class: "form-control" } %>
	  </div></br>
	  
		<div class="action individual-form-elements-override">
			<%= f.submit "Get Started", class: "btn btn-success" %>
		</div>

	<% end %>
</div>

