<div class="center hero-unit">
	<h1>
		<%= @project.title %>
	</h1>
	<h3>
		<%= @project.objective %>
	</h3>
	<div class="action">
		<%= link_to 'Create Tasks', '#', { class: "btn" } %>
	</div></br>
	<div class="action">
		<%= link_to 'Invite team members', new_invitation_path, { class: "btn" } %>
	</div></br>
	<% unless @members.nil? %>
		<h4>Project Members</h4>
		<% @members.each do |member| %>
		  <%= member %>
	  <% end %>
  <% end %>
</div>
