<div class="user-dashboard">
	<div class="page-header">
		<h2><%= @project.title %><small> <%= @project.objective %></small></h2>
	</div>
	<div class="actions">
		<%= link_to 'Todo for this project', new_project_task_path(@project), class: "btn btn-info" %>
	</div></br>
	<% if @tasks.count > 0 %>
	<table class="table">
	  	<thead>
	  		<tr>
	  			<th>Task</th>
	  			<th>Due Date</th>
	  			<th>Team Member</th>
	  			<th>Completed</th>
	  		</tr>
	  	</thead>
		<% @tasks.each do |task| %>
	  	<tbody>
	  		<tr>
	  			<td>
		  			<%= task.instructions %>
		  		</td>
		  		<td>
		  			<%= task.due_date.strftime("%Y-%d-%m") %>
	  		  </td>
	  		  <td>
		  			Team Member Assigned
		  		</td>
			  	<td>
			  		<% if task.complete == false %>
			  			<%= link_to 'Completed', edit_project_task_path(@project, task.id), class: "btn btn-warning" %>
		  			<% else %>
		  			  <%= link_to 'Remove', project_task_path(@project, task.id), { class: "btn btn-success", method: :delete } %>
	  			  <% end %>
		  		</td>
	  		</tr>
	  	</tbody>
	  	<% end %>
	<% end %>
</div>

