<div class="hero-unit">	
	<h1>New Project</h1>
	<%= form_for @project do |f| %>
	  <div class="field"> 
		  <%= f.label :title, "Title: " %>
		  <%= f.text_field :title %>
		</div>
	  <div class="field">	  
	  	<%= f.label :objective, "Objective: " %>
		  <%= f.text_field :objective %>
		</div>
		<div class="date-field">			
	  	<%= f.label :due_date %>
			<%= f.date_field :due_date %>
	  </div>
		<div class="action">
			<%= f.submit "Get Started", class: "medium button success round" %>
		</div>
	<% end %>
</div>