<div class="panel">
	<% if current_user.avatar.url == nil %>
	  <%= image_tag "no_avatar.jpg" %>
		<p>Uploading a photo helps the team to visualize those involved</p>
		<%= form_for @user, :html => { :multipart => true } do |f| %>
		  <p>
		    <%= f.file_field :avatar %>
		  </p>
		  <p>
		  	<%= f.submit %>
		  </p>
		<% end %>
	<% else %>
	  <%= image_tag current_user.avatar.url %></br></br>
	<% end %>
	<h5><%= current_user.first_name %> <%= current_user.last_name %></h5>
	<p>Outstanding projects  </p>
</div>

