<!DOCTYPE html>
<head>
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<meta charset="utf-8" />
	<title>Me To You</title>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/navbar' %>
    
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %>
      </div>
    <% end %>

  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
