<!DOCTYPE html>
<head>
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<meta charset="utf-8" />
  <!-- Fix this shortcut icon -->
  <link rel="shortcut icon" href="http://bitmakerlabs.com/assets/favicon-b5b84e226d653cd216a1a68fc64beeef.ico">
	<title>Me To You</title>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/navbar' %>
  <div class="container all-pages">
    <div class="flash">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %>
        </div>
      <% end %>
    </div>
    <%= yield %>
  </div>
</body>
</html>
